* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

nav {
    height: 100px;
    background-color: #ab610c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.logo {
    width: 40%;
    color: rgb(140, 140, 188);
    padding-left: 55px;
}

.logo img {
    width: 140px;
}

.menu {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.menu a {
    color: azure;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}

.menu a:hover {
    color: yellow;
}

.mobile_menu {
    position: absolute;
    background-color: #ab610c;
    width: 100%;
    display: none;
}

.mobile_menu a {
    text-align: center;
    color: azure;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px;
    display: block;
}

.homediv img {
    width: 100%;
}

.productdiv {
    display: flex;
    justify-content: space-around;
    color: #000;
}

.productdiv .colddrinkCard {
    height: 200px;
    width: 300px;
    background-image: url('images/coke.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colddrinks {
    /* padding: 109px 0px 8px 91px; */
    font-family: 'Roboto', sans-serif;
    color: white;
}

.productdiv .ChoclatesCard {
    height: 200px;
    width: 300px;
    background-image: url('images/choco.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Choclates {
    color: aliceblue;
    /* padding: 109px 0px 8px 91px; */
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
}

.productdiv .laysCard {
    height: 200px;
    width: 300px;
    background-image: url('images/lays.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lays {
    /* padding: 106px 13px 14px 135px; */
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 249, 249);
}

.coldrinkContainer {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 0 30px;
}

.cokeimg {
    display: flex;
    padding: 20px;
    height: 300px;
    border: 1px solid blue;
    flex: 1;
    border-radius: 40px;
    flex-direction: column;
}

.cokeimg img {
    width: 100%;
    height: 100%;
}

.cokeimg p {
    font-size: 20px;
}

.ChocolatesContainer {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 0 30px;
}

.chocoimg {
    display: flex;
    padding: 20px;
    height: 300px;
    border: 1px solid blue;
    flex: 1;
    border-radius: 40px;
    flex-direction: column;
}

.chocoimg img {
    width: 100%;
    height: 100%;
}

.chocoimg p {
    font-size: 20px;
}

.LaysContainer {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 0 30px;
}

.laysimg {
    display: flex;
    padding: 20px;
    height: 300px;
    border: 1px solid blue;
    flex: 1;
    border-radius: 40px;
    flex-direction: column;
}

.laysimg img {
    width: 100%;
    height: 100%;
}

.laysimg p {
    font-size: 20px;
}

.about {
    padding: 10px;
    margin-top: 50px;
    background: #ab610c;
    color: rgb(218, 204, 204);
}

.form {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.formcontainer {
    background-color: #ab610c;
    padding: 50px;
}

.inp input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.inp textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.button {
    text-align: center;
    width: 10px;
}

.Contactheading {
    text-align: center;
    margin-bottom: 20px;
    color: beige;
}

.menuicon {
    display: none;
    margin-right: 15px;
}

@media (max-width: 720px) {
    .menu {
        display: none;
    }
    .menuicon {
        display: block;
    }
    .mobile_menu {
        display: none;
    }
    .productdiv {
        flex-direction: column;
    }
    .productdiv .colddrinkCard {
        width: 100%;
        margin-top: 5px;
    }
    .productdiv .ChoclatesCard {
        width: 100%;
        margin-top: 10px;
    }
    .productdiv .laysCard {
        width: 100%;
        margin-top: 10px;
    }
    .coldrinkContainer {
        flex-direction: column;
    }
    .ChocolatesContainer {
        flex-direction: column;
    }
    .LaysContainer {
        flex-direction: column;
    }
    .productdiv .colddrinkCard {
        height: 300px;
    }
}